html, body {
    margin: 0;
    padding: 0;
    top: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9ff;
    color: #2a2a31;
}

header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-gap: 2em;
    right: 5em;
    place-self: center;
    grid-column: 3/4;
    /* justify-self:end; */
}

.navbar-profile-photo {
    grid-column: 2 / 3;
}

.navbar-username {
    grid-column: 3 / 4;
}

.navbar-account {
    place-self: center;
    justify-self: center;
}

.navbar-logo {
    grid-column: 1 / 2;
}

#photo {
    height: 3em;
    width: 3em;
    border-radius: 100%;
}

nav a {
    text-decoration: none;
    color: #473EBD;
}




/*  PLAYLISTS */
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results > div {
    align-self: auto;
    /* background-color: red; */
}

.result-playlist-header,
.result-playlist-body
{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    /* border: 2px solid #eef0f4; */
}

.result-playlist-header {
    width: 80%;
    margin-top: 4em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1em;
    padding: .4em;
    font-size: 1.6em;
    font-weight: 600;
    min-width: 700px;
}

.result-playlist-photo {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-right: 30px;
    margin-top: -5em;
    margin-left: .8em;
    border: 2px solid #696c77;
}



.result-playlist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#result-playlist-language {
    color: #696c77;
}

.result-playlist-add-button {
    text-decoration: none;
    font-size: 20px;
    /* padding: 10px 10px; */
    padding: .2em .2em .2em 1em;
    font-weight: 600;
    border-radius: 50px;
    color: white;
    background-color: #4457bf;
    background-image: linear-gradient(to bottom left, #FF9065, #722BD3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.add-text {
    margin-right: 10px;
}

.plus-symbol {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: .7em;
    margin-right: 0px;
    transform: rotate(-90deg);
    transition: .8s;
}

.result-playlist-add-button:hover {
    cursor: pointer;
}

.result-playlist-add-button:hover .plus-symbol {
    transform: rotate(90deg);
    transition: .8s;
}

.result-playlist-body {
    margin-top: 3em;
    width: 80%;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
    /* align-items: flex-start; */
    overflow: hidden;
    font-size: 1.1em;
}



/* .result-playlist-track:after {
    content:"";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid black;
} */

.body-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid #eef0f4;
    padding-bottom: 1em;
    font-weight: 600;
    color: #722BD3;
}

.body-header-title {
    justify-self: start;
    padding-left: 2em;
}

.body-header-artist {
    justify-self: center;
}

.body-header-length {
    justify-self: end;
    padding-right: 1em;
}

.body-header span {

}

.result-playlist-track {
    background-color: white;
    /* border-radius: 1em; */

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid #eef0f4;
    /* border-bottom: 3px solid gray; */
}
#result-track-title {
    justify-self: start;
    padding-left: 2em;
}

#result-track-artist {
    justify-self: center;
}

#result-track-length {
    justify-self: end;
    padding-right: 1em;
}

.result-playlist-track span {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}
