<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=1000"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" / -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/about.css" rel="stylesheet">
    <!-- <script src="../javascript/playlist.js"></script> -->
    <title>About - Kabloombox</title>
</head>
<body>

    <header>
        <a href="/" id="logo">
            <img src="../static/images/KabloomboxLogo.png" id="navbar-logo" />
        </a>
        <a href="/about">
            <div class="about-wrapper">
                <ul id="blah">
                    <li>About</li>
                </ul>
            </div>
        </a>
        <nav>
            <div class="navbar-profile-photo navbar-account">
                {% if access_token and profile_photo %}
                    <img src={{ profile_photo}} id="photo" />
                {% elif access_token %}
                    <img src="../images/default.png" id="photo" />
                {% endif %}

            </div>

            {% if access_token %}
                <div class="navbar-username navbar-account">
                    <div class="container-2">
                        <div class="dropdown">
                            <div class="select">
                                <span>{{ profile_name }}</span>
                                <!-- <i class="fa fa-chevron-left"></i> -->
                                <img src="../static/images/dropdown.png" id="arrow" />
                        </div>
                        <a href="/logout">
                            <ul class="dropdown-menu">
                              <li>Logout</li>
                            </ul>
                        </a>
                      </div>

                    </div>
                </div>
            {% endif %}
        </nav>
    </header>

    <div class="main-body">
        <p>
            Kabloombox creates a personalized playlist for you containing songs in a
            completely different language.
        </p>
        <p>
            Do you really like a certain music genre and are curious what that genre is like in other languages?
            <br />
            Or are you looking to expand your music taste but don’t know where to start?
        <p>
            Just provide Kabloombox with one of your Spotify playlists, and it will create a stylized playlist for you in a language of your choice!
        </p>
    </div>
</body>
</html>