<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<!-- <meta name="viewport" content="width=1000"> -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" / -->
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:300,400,600"
			rel="stylesheet"
		/>
		<link href="../static/css/homeAndLoginPage.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="../static/javascript/homeAndLoginPage.js"></script>

		<!-- 
    <link rel="apple-touch-icon" sizes="57x57" href="../static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-icon-180x180.png"> -->

		<!-- <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png"> -->

		<!-- <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png"> -->
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="../static/images/favicons/favicon-96x96.png"
		/>
		<!-- <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png"> -->

		<!-- <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> -->

		<title>Kabloombox</title>
	</head>
	<body>
		<div class="content">
			<!-- <div class="left-side"> -->
			<div class="description">
				<h1>Find your new favorite songs and artists</h1>
				<p>
					Kabloombox translates your music taste into a foreign language.
				</p>

				<p>
					To get started, sign in with your Spotify account below.
				</p>
			</div>

			<div class="login-section">
				<a href="/login" id="login">
					<div class="login-button">Log in with Spotify</div>
				</a>
			</div>
			<!-- <div class="right-side"> -->
			<img src="../static/images/background2.png" id="artwork" draggable="false" />
			<img src="../static/images/boombox.png" id="boombox" draggable="false" />
			<!-- </div> -->
			<!-- </div> -->
		</div>
	</body>
</html>
