<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=1000"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" / -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600" rel="stylesheet">
    <link href="../css/homeAndLoginPage.css" rel="stylesheet">
    <script src="../javascript/homeAndLoginPage.js"></script>
    <title>Kabloombox</title>
</head>
<body>
    <header>
        <a href="localhost:8080">
            <img src="../images/KabloomboxLogo.png" id="navbar-logo" />
        </a>
        <nav>
            <div class="navbar-profile-photo navbar-account">
                <a href="#"><img src="../images/small.jpg" id="photo"></a>
            </div>
            <div class="navbar-username navbar-account">
                <a href="#">Firstname Lastname</a>
            </div>
            <!-- <ul>
                <li><a href="#">Picture</a></li>
                <li><a href="#">Name</a></li>
            </ul> -->
        </nav>
    </header>
    {% if code or access_token %}
        <form action="/playlist" method="get">
        {% if playlists_json %}
            <div class="select-style">
                <select class="language" name="language">
                    <option value="german">German</option>
                    <option value="french">French</option>
                    <option value="spanish">Spanish</option>
                    <option value="italian">Italian</option>
                    <option value="polish">Polish</option>
                    <option value="portuguese">Portuguese</option>
                    <option value="russian">Russian</option>
                    <option value="cantonese">Cantonese</option>
                    <option value="chinese">Chinese</option>
                    <option value="finish">Finnish</option>
                    <option value="japanese">Japanese</option>
                </select>
            </div>
        {% endif %}

        <ul class="result-playlist-tracks"></ul>

        <h2>Your playlists:</h2>
        <ul class="matches"></ul>
        <div class="container">
            <div class="playlist-grid">
                {% for playlist in playlists_json %}
                    <div class="playlist-item">
                        <div class="playlist-cover">
                            <button name="id" type="submit" value="{{ playlist['id'] }}" class="playlist-button">
                                {% if playlist['images'][0] %}
                                    <img src="{{ playlist['images'][0]['url']}}" class="image">
                                {% endif %}
                            </button>
                        </div>
                        <div class="playlist-name">
                            <p>
                                <span id="playlist-name">{{ playlist['name'] }}<br></span>
                                <span id="playlist-owner">{{ playlist['owner']['id'] }}</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </form>
    {% else %}
        <div class="content">
            <div class="left-side">
                <div class="description">
                    <h1>Find your new favorite songs and artists</h1>
                    <p>Kabloombox translates your music taste into a foreign language.</p>

                    <p>To get started, sign in with your Spotify account below.</p>
                </div>

                <div class="login-section">
                    <a href="/login" id="login">
                        <div class="login-button">Log in with Spotify</div>
                    </a>
                </div>
            </div>

            <div class="right-side">
                <img src="../images/background.png" id="artwork" draggable="false" />
                <img src="../images/boombox.png" id="boombox" draggable="false" />
            </div>
        </div>
    {% endif %}
</body>
</html>