<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotipy</title>

  <script type="text/javascript">
    function auth() {
      window.location = 'https://accounts.spotify.com/authorize?response_type=code&scope=user-library-read&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&client_id=add9ec1e2d134f5d8bc0144a81bab40c'
    }

    function test() {
      window.location = 'https://accounts.spotify.com/authorize?response_type=code&scope=user-library-read&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&client_id=add9ec1e2d134f5d8bc0144a81bab40c'
    }
  </script>
</head>
<body>

  <a href="/login">Log in to Spotify</a>

</body>
</html>
