<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="../css/loginPage2.css" rel="stylesheet">

    <title>loginPage</title>
</head>
<body>

    <div class="playlists">
        <button class="playlist-button">Test1</button>
        <button class="playlist-button">Test2</button>
        <button class="playlist-button">Test3</button>
        <button class="playlist-button">Test4</button>
        <button class="playlist-button">Test5</button>
    </div>



</body>
</html>
