<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reddit Bot</title>

  <style>
  </style>
</head>
<body>


<form action="/search" method="post">

  <p>Choose the language learning subreddit to scrape:</p>
  <input type="hidden" name="code" value="{{code}}">
  <select name="language">
    <option value="German">German</option>
    <option value="french">French</option>
    <option value="learnspanish">Spanish</option>
    <option value="thestereo">thestereo</option>
  </select>
  <button type="Search">Search</button>
</form>



</body>
</html>
